<!DOCTYPE html>
<html>
  <head>
    <title>Fly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to_unless_current "FLY", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to_unless_current "All Flights", flights_path, class: "nav-link" %>
            </li>

            <% if current_user %>
              <li class="nav-item">
                <%= link_to_unless_current "Past Bookings", bookings_path, class: "nav-link" %>
              </li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to_unless_current "Sign Up", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to_unless_current "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section>
      <div class="container">
          <div class="col-12 alert-message">
              <%= render 'pages/alerts' %>
          </div>
          <%= yield %>
      </div>
    </section>
  </body>
</html>
