<!DOCTYPE html>
<html>
  <head>
    <title>Fly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">FLY</a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Available Flights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign up</a>
            </li>
            <li class="nav-item">
              <% if current_user %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
              <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section>
      <div class="container">
        <section class="row">
          <div class="col-12 alert-message">
              <%= render 'pages/alerts' %>
          </div>
          <%= yield %>
        </section>
      </div>
    </section>
  </body>
</html>
